@import url('styles/area_atuacao.css');
@import url('styles/artigos.css');
@import url('styles/cabecalho.css');
@import url('styles/contato.css');
@import url('styles/depoimentos.css');
@import url('styles/diferenciais.css');
@import url('styles/hero.css');
@import url('styles/rodape.css');
@import url('styles/sobre.css');
@import url('styles/global.css');