@import url('styles/area_atuacao.css');
@import url('styles/artigos.css');
@import url('styles/cabecalho.css');
@import url('styles/contato.css');
@import url('styles/depoimentos.css');
@import url('styles/diferenciais.css');
@import url('styles/hero.css');
@import url('styles/rodape.css');
@import url('styles/sobre.css');
@import url('styles/global.css');
@import url('styles/escritorio.css');

/* ======== ANIMAÇÕES DE ENTRADA ======== */
.reveal-left, .reveal-right, .reveal-up, .reveal-fade {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.9s ease;
  }
  
  /* Direções diferentes */
  .reveal-left { transform: translateX(-60px); }
  .reveal-right { transform: translateX(60px); }
  .reveal-up { transform: translateY(60px); }
  .reveal-fade { transform: scale(0.95); }
 

  
  /* Quando entra na tela */
  .reveal.active {
    opacity: 1;
    transform: translate(0);
    scale: 1;
  }

.reveal-up:nth-child(2) { transition-delay: 0.2s; }
.reveal-up:nth-child(3) { transition-delay: 0.4s; }

  
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}