.conteudo-juridico-novo {
    padding: 100px 20px;
    text-align: center;
    color: #000000;
    position: relative;
    overflow: hidden;
  }
  
  .conteudo-juridico-novo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 700px;
    background: radial-gradient(circle, rgba(255, 222, 74, 0.18), transparent 50%);
    filter: blur(150px);
    z-index: 0;
  }
  
  .conteudo-wrapper {
    position: relative;
    z-index: 2;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .titulo-secao h1 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
  }
  
  .titulo-secao p {
    color: #000000;
    font-size: 1.05rem;
    margin-bottom: 60px;
  }
  
  .cards-artigos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
  }
  
  .card-artigo {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 30px 25px;
    text-align: left;
    transition: all 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-artigo:hover {
    transform: translateY(-6px);
    border-color: rgba(244, 226, 66, 0.5);
    box-shadow: 0 0 25px rgba(185, 183, 42, 0.774);
  }
  
  .card-artigo h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .card-artigo p {
    color: #000000;
    line-height: 1.6;
  }
  
  .btn-artigos {
    display: inline-block;
    margin-top: 100px;
    background-color: #127ffce0;
    color: #fff;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 0 25px rgba(5, 143, 235, 0.945);
    transition: all 0.3s ease;
  }
  

  .btn-artigos:hover{
    background-color: #fdd805;
    color: black;
    box-shadow: 0 0 25px rgba(235, 212, 5, 0.945);
  }
 