header{
    display: flex;
    justify-content: space-around;
    background-color: #0b1020;
    padding: 15px;
    
}

header img{
    width: 220px;
    
}

nav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav a{
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

nav a:hover{
    color: #DAA520;
    transition: 0.4s;
    font-size: 1.5rem;
}