/* === HEADER === */
header {
    width: 100%;
    background-color: #0b1020;
    color: #f8f8f8;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    position: relative;
    top: 0;
    z-index: 1000;
  }
  
  header .container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0.8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1001;
  }
  
  .logo img {
    width: 240px;
    object-fit: contain;
  }
  
  .logo h1 {
    font-size: 1.4rem;
    margin: 0;
    font-family: 'Playfair Display', serif;
  }
  
  .logo span {
    font-size: 0.8rem;
    opacity: 0.8;
    font-family: 'Lora', serif;
  }
  
  /* NAVIGATION */
  .navbar ul {
    margin-right: 100px;
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    color: #f8f8f8;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    font-family:  "Playfair Display SC", serif;
  }
  
  .navbar a:hover {
    color: #c9a45c;
  }
  
  /* HAMBURGER MENU */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 1100;
  }
  
  .menu-toggle span {
    width: 25px;
    height: 3px;
    background: #f8f8f8;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  /* --- ANIMAÇÃO PARA O X --- */
  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* RESPONSIVO */
  @media (max-width: 900px) {
    .navbar ul {
      position: absolute;
      margin-top: 90px;
      top: 70px;
      left: 0;
      width: 100%;
      background: #0b1020;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: 1.5rem 0;
      display: none;
    }
  
    .navbar ul.active {
      display: flex;
      animation: fadeIn 0.3s ease-in-out;
    }
  
    .menu-toggle {
      display: flex;
    }
  
    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(-10px); }
      to { opacity: 1; transform: translateY(0); }
    }
  }
  