.contato-juridico {
    background-color: #ffffff;   
    color: #fff;
    padding: 100px 40px;
    position: relative;
    overflow: hidden;
  }
  
  .contato-juridico::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 800px;
    filter: blur(150px);
    z-index: 0;
  }
  
  .contato-container {
    position: relative;
    z-index: 2;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }
  
  .contato-info h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
    font-family: "Lato", sans-serif;

  }
  
  .contato-info h4 {
    color: #000000;
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 1.3rem
  }
  
  .contato-info p {
    color: #000000;
    line-height: 1.7;
    font-size: 1rem;
  }
  
  .contato-form form {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }
  
  .contato-form label {
    text-align: left;
    color: #000000;
    font-size: 0.95rem;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .contato-form input,
  .contato-form textarea {
    background-color: aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    padding: 12px;
    color: #000000;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .contato-form input:focus,
  .contato-form textarea:focus {
    border-color: #4a6cff;
    box-shadow: 0 0 12px rgba(74, 125, 255, 0.3);
  }
  
  .contato-form textarea {
    resize: none;
    height: 130px;
    background-color: aliceblue;
  }
  
  .btn-enviar {
    margin-top: 25px;
    background: linear-gradient(90deg, #f5e509, #eaee05d2);
    color: black;
    border: none;
    padding: 14px 35px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    align-self: flex-end;
    box-shadow: 0 0 25px rgba(74, 125, 255, 0.25);
    transition: all 0.3s ease;
  }
  
  .btn-enviar:hover {
    background-color: #f5e509;
    box-shadow: 0 0 35px rgba(248, 244, 4, 0.747);
  }
  
  /* Responsivo */
  @media (max-width: 900px) {
    .contato-container {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .contato-form form {
      align-items: stretch;
    }
  
    .btn-enviar {
      align-self: center;
      width: 100%;
    }
  }
  